body{
    color:white;
    background:pink;
    }
    .heading{
        width:80%;
        font-size:22px;
    }
    .name_of_object{
        color:yellowgreen;
    }
    #camera{
        border:2px dashed Black;
    width:350px;
    height:300px;
    }